%dot-grid-variables {
  // Configurable
  --bg-dot-size: 5px;
  --bg-back-color: green;
  --bg-dot-color: white;
  --bg-gap: 30px;
  --bg-row-gap: var(--bg-gap);
  --bg-column-gap: var(--bg-gap);

  --bg-offset: 0px;
  --bg-offset-x: var(--bg-offset);
  --bg-offset-y: var(--bg-offset);

  // Private vars
  --dot-halfsize: calc(var(--bg-dot-size) / 2);

  --base-position-x: 0px;
  --base-position-y: 0px;
  --position-x: calc(var(--base-position-x) + var(--bg-offset-x));
  --position-y: calc(var(--base-position-y) + var(--bg-offset-y));
}

.cs-bg-dot-grid {
  @extend %dot-grid-variables;

  --dot-image: radial-gradient(
    circle at center,
    var(--bg-dot-color) var(--dot-halfsize),
    transparent 0
  );

  background: var(--dot-image), linear-gradient(var(--bg-back-color));
  background-size:
    var(--bg-column-gap) var(--bg-row-gap),
    auto;

  background-position: var(--position-x) var(--position-y);
}

.cs-bg-dot-grid-corner {
  @extend .cs-bg-dot-grid;

  --base-position-x: calc(var(--bg-column-gap) / 2);
  --base-position-y: calc(var(--bg-row-gap) / 2);
}

.cs-bg-dot-interlace {
  @extend %dot-grid-variables;

  --bg-dot-size-2: var(--bg-dot-size);
  --bg-dot-color-2: var(--bg-dot-color);

  --bg-offset-2: 0;
  --bg-offset-x-2: var(--bg-offset);
  --bg-offset-y-2: var(--bg-offset);

  --dot-halfsize-2: calc(var(--bg-dot-size-2) / 2);

  --dot-1-image: radial-gradient(
    circle at center,
    var(--bg-dot-color) var(--dot-halfsize),
    transparent 0
  );

  --dot-2-image: radial-gradient(
    circle at center,
    var(--bg-dot-color-2) var(--dot-halfsize-2),
    transparent 0
  );

  background:
    var(--dot-1-image), var(--dot-2-image),
    linear-gradient(var(--bg-back-color));
  background-size:
    var(--bg-column-gap) var(--bg-row-gap),
    var(--bg-column-gap) var(--bg-row-gap),
    auto;

  --base-position-x-2: calc(var(--bg-column-gap) / 2);
  --base-position-y-2: calc(var(--bg-row-gap) / 2);

  --position-x: calc(var(--base-position-x) + var(--bg-offset-x));
  --position-y: calc(var(--base-position-y) + var(--bg-offset-y));
  --position-x-2: calc(var(--base-position-x-2) + var(--bg-offset-x));
  --position-y-2: calc(var(--base-position-y-2) + var(--bg-offset-y));

  background-position:
    var(--position-x) var(--position-y),
    var(--position-x-2) var(--position-y-2);
}
