.cs-block-align-left {
  margin-left: 0;
  margin-right: auto;
}

.cs-block-align-center {
  margin-left: auto;
  margin-right: auto;
}

.cs-block-align-right {
  margin-left: auto;
  margin-right: 0;
}
