// when-open/when-closed

details:open .cs-when-closed {
  display: none;
}

details:not(:open) .cs-when-open {
  display: none;
}

// After-open/closed stuff

details:open + .cs-if-closed-above {
  display: none;
}

details:not(:open) + .cs-if-open-above {
  display: none;
}

// Second-order check: let people chain these.

details:open
  + :is(.cs-if-open-above, .cs-if-closed-above)
  + .cs-if-closed-above {
  display: none;
}

details:not(:open)
  + :is(.cs-if-open-above, .cs-if-closed-above)
  + .cs-if-open-above {
  display: none;
}

.cs-no-marker summary::marker {
  content: none;
}
