.cs-inline-block,
.cs-display-inline-block {
  display: inline-block;
}

.cs-block,
.cs-display-block {
  display: block;
}

.cs-inline,
.cs-display-inline {
  display: inline;
}

.cs-display-none {
  display: none;
}
