.cs-text-align-left,
.cs-text-left {
  text-align: left;
  text-align-last: left;
}

.cs-text-align-center,
.cs-text-center {
  text-align: center;
  text-align-last: center;
}

.cs-text-align-right,
.cs-text-right {
  text-align: right;
  text-align-last: right;
}

.cs-text-align-justify,
.cs-text-justify {
  text-align: justify;
}
