.main-content > h2 {
  font-size: 36px;
  padding-bottom: 10px;
  border-bottom: 1px solid;

  &:not(:first-child) {
    margin-top: 60px;
  }
}

img {
  margin: unset;
}

.swatch {
  display: inline-block;
  width: 0.9em;
  height: 0.9em;
  outline: 1px solid white;
  color: 1px solid black;
  border-radius: 2px;
  background: currentColor;
  margin-left: 2px;
  transform: translateY(2px);
}

.example-image {
  width: 100px;
  min-width: 100px;
  height: 100px;
  border: 1px dashed currentColor;
  background: color-mix(in srgb, currentColor, transparent 85%);
}

.pre-example-image {
  height: 180px;
  border: 1px dashed currentColor;
}

.draft-box {
  position: relative;
  font-size: 300px;
  width: 1em;
  height: 1em;
  outline: 1px solid rgba(255 255 255 / 0.5);

  display: flex;
  align-items: center;

  &::before {
    content: "";
    display: block;
    position: absolute;
    inset: 0;
    border-radius: 50%;
    outline: 1px solid rgba(255 255 255 / 0.5);
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    inset: 25%;
    border-radius: 50%;
    outline: 1px solid rgba(255 255 255 / 0.5);
  }
}
