.cs-gallery {
  --thumb-size: 200px;
  --space: 20px;
  --columns: 3;
  --inner-space: var(--space);
  --outer-space: var(--space);
  --image-radius: var(--carrion-image-corner-radius);
  display: grid;
  justify-content: center;
  grid: auto-flow / repeat(var(--columns), var(--thumb-size));
  gap: var(--inner-space);
  padding: var(--outer-space);

  > a {
    height: var(--thumb-size);
    width: var(--thumb-size);
    border-bottom: unset;
    border-radius: var(--image-radius);
  }

  img {
    height: var(--thumb-size);
    width: var(--thumb-size);
    border-radius: var(--image-radius);
    object-fit: cover;
  }
}
