.cs-gallery {
  --thumb-size: 200px;
  --space: 20px;
  --columns: 3;
  --thumb-aspect-ratio: 1/1;
  --inner-space: var(--space);
  --outer-space: var(--space);
  --image-radius: var(--carrion-image-corner-radius);

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: var(--inner-space);
  padding: var(--outer-space);
  max-width: min(
    calc(
      (var(--thumb-size) + var(--space)) * var(--columns) + var(--outer-space)
    ),
    100%
  );

  > a {
    display: flex;
    width: var(--thumb-size);
    border-bottom: unset;
    border-radius: var(--image-radius);
  }

  img {
    width: var(--thumb-size);
    aspect-ratio: var(--thumb-aspect-ratio);
    border-radius: var(--image-radius);
    object-fit: cover;
    margin: 0;
  }
}

.cs-gallery-columns-4 {
  --columns: 4;
}
