.cs-image-spoiler-box {
  position: relative;
  display: inline-block;
  height: fit-content;
  width: fit-content;
  overflow: clip;
  border-radius: var(--carrion-image-corner-radius);
  --stripe-color: white;
  --warning-color: white;
  --shadow-color: black;
  --blur: 5px;
  --unblur-time: 0.1s;

  &:hover img {
    animation-name: cs__unblur;
    animation-timing-function: linear;
    animation-duration: var(--unblur-time);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  img {
    filter: blur(var(--blur));
  }

  &.cs-stripes {
    --stripe-size: 20px;
    --stripe-opacity: 0.75;

    &::before {
      content: "";
      display: block;
      position: absolute;
      z-index: 1;
      opacity: var(--stripe-opacity);
      inset: 0;

      background: repeating-linear-gradient(
        -45deg,
        var(--stripe-color),
        var(--stripe-color) calc(var(--stripe-size) * 0.5),
        transparent calc(var(--stripe-size) * 0.5),
        transparent var(--stripe-size)
      );
      background-repeat: repeat;
    }

    &:hover::before {
      opacity: 0;
      transition: opacity var(--unblur-time) linear;
    }
  }

  .cs-content-warning {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    color: var(--warning-color);
    transform: translateY(-50%);
    padding: 0 20%;
    text-align: center;
    z-index: 2;
    text-shadow:
      0 0 2px var(--shadow-color),
      -2px 0 2px var(--shadow-color),
      2px 0 2px var(--shadow-color),
      0 -2px 2px var(--shadow-color),
      0 2px 2px var(--shadow-color);
    font-weight: bold;
  }

  &:hover .cs-content-warning {
    opacity: 0;
    transition: opacity var(--unblur-time) linear;
  }

  // Compatibility
  &.cs-img-circle {
    border-radius: 50%;
  }
}
