.cs-tabs .cs-tab {
  user-select: none;
}

.cs-tabs .cs-tab-row {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
}

$suffixes:
  a, b, c, d, e, f, g, h, i, j, k, l, m, n, o, p, q, r, s, t, u, v, w, x, y, z,
  0, 1, 2, 3, 4, 5, 6, 7, 8, 9;

@each $suffix in $suffixes {
  .cs-tabs:not(:has(.cs-tab-#{$suffix}:open)) {
    .cs-content-#{$suffix} {
      display: none;
    }
  }
}

.cs-tabs:has(.cs-tab:open) {
  .cs-content-default {
    display: none;
  }
}

.cs-tabs-reset {
  .cs-tab {
    margin: unset;
    padding: unset;
    background: unset;
    border-radius: unset;
  }

  .cs-tab summary {
    font-weight: inherit;
    color: inherit;
  }

  .cs-tab summary:hover {
    color: inherit;
  }
}
