@use "../sass/math";
@use "sass:list";

$special: auto;
$pixels: math.range(0, 100, $step: 5);
$values: list.join($special, $pixels);

@each $v in $values {
  /*
  spacing at #{$v}
  */

  .cs-margin-#{$v} {
    margin: #{$v}px;
  }

  .cs-margin-h-#{$v} {
    margin-left: #{$v}px;
    margin-right: #{$v}px;
  }

  .cs-margin-v-#{$v} {
    margin-top: #{$v}px;
    margin-bottom: #{$v}px;
  }

  .cs-margin-top-#{$v} {
    margin-top: #{$v}px;
  }

  .cs-margin-right-#{$v} {
    margin-right: #{$v}px;
  }

  .cs-margin-bottom-#{$v} {
    margin-bottom: #{$v}px;
  }

  .cs-margin-left-#{$v} {
    margin-left: #{$v}px;
  }

  .cs-padding-#{$v} {
    padding: #{$v}px;
  }

  .cs-padding-h-#{$v} {
    padding-left: #{$v}px;
    padding-right: #{$v}px;
  }

  .cs-padding-v-#{$v} {
    padding-top: #{$v}px;
    padding-bottom: #{$v}px;
  }

  .cs-padding-top-#{$v} {
    padding-top: #{$v}px;
  }

  .cs-padding-right-#{$v} {
    padding-right: #{$v}px;
  }

  .cs-padding-bottom-#{$v} {
    padding-bottom: #{$v}px;
  }

  .cs-padding-left-#{$v} {
    padding-left: #{$v}px;
  }
}
