@use "mixin";

@mixin object-fit($fit) {
  @include mixin.img {
    object-fit: $fit;
  }
}

$fits: contain, cover, fill, none, scale-down;

@each $fit in $fits {
  .cs-fit-#{$fit} {
    @include object-fit($fit);
  }
}
