// Settings that describe default behaviour of carrion, and not this library.
:root {
  --carrion-image-corner-radius: 4px;

  // Colors
  --carrion-color-red: #ff4444;
  --carrion-color-orange: #ff8800;
  --carrion-color-yellow: #ffcc00;
  --carrion-color-green: #44ff44;
  --carrion-color-blue: #4488ff;
  --carrion-color-purple: #bd6eff;
  --carrion-color-pink: #ff44aa;
  --carrion-color-brown: #c48364;
  --carrion-color-teal: #29daf9;
  --carrion-color-white: #ffffff;
  --carrion-color-black: #000000;
  --carrion-color-gray: #858585;
  --carrion-color-dull-red: #cc6161;
  --carrion-color-dull-orange: #c27338;
  --carrion-color-dull-yellow: #b3872d;
  --carrion-color-dull-green: #608f3d;
  --carrion-color-dull-blue: #6286c0;
  --carrion-color-dull-purple: #9576ad;
  --carrion-color-dull-pink: #bb689a;
  --carrion-color-dull-brown: #967f6e;
  --carrion-color-dull-teal: #589193;
}
