@use "../mixin";

@mixin chat-message($varname) {
  @include mixin.all-borders(#{$varname}-border);
  background: var(#{$varname}-background);
  font-family: var(#{$varname}-font-family);

  .message-time {
    color: var(#{$varname}-time-color);
    font-style: var(#{$varname}-time-font-style);
    font-weight: var(#{$varname}-time-font-weight);
    font-variant: var(#{$varname}-time-font-variant);
  }

  .message-body {
    color: var(#{$varname}-color);
    font-style: var(#{$varname}-font-style);
    font-weight: var(#{$varname}-font-weight);
    font-variant: var(#{$varname}-font-variant);
  }
}

.message {
  @include chat-message(--message);
}

.message.own {
  @include chat-message(--message-own);
}

.message.mentioned {
  @include chat-message(--message-mentioned);
}

.message.system {
  @include chat-message(--message-system);
}

.message.action {
  @include chat-message(--message-system);
}
