:root {
  --carrion-image-corner-radius: 4px;
}

.cs-gallery {
  --thumb-size: 200px;
  --space: 20px;
  --columns: 3;
  --inner-space: var(--space);
  --outer-space: var(--space);
  display: grid;
  justify-content: center;
  grid: auto-flow / repeat(var(--columns), var(--thumb-size));
  gap: var(--inner-space);
  padding: var(--outer-space);

  a {
    height: var(--thumb-size);
    width: var(--thumb-size);
    border-bottom: unset;
    border-radius: var(--carrion-image-corner-radius);
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.cs-gallery .cs-fit-top,
.cs-gallery .cs-fit-top img {
  object-position: top;
}

.cs-gallery .cs-fit-bottom,
.cs-gallery .cs-fit-bottom img {
  object-position: bottom;
}

.cs-font-monospace {
  font-family: monospace;
}

details:open + .cs-if-closed-above {
  display: none;
}

details:not(:open) + .cs-if-open-above {
  display: none;
}
